<div>
{{#dnd5e-concealSection concealDetails}}
  <ol class="items-list">
    <li class="items-header item-list">
      <div class="flexrow">
        <h3 class="item-name">
          <span class="iws-h3">{{localize 'TYPES.Item.spellPl'}}</span>
          {{#if isEmbedded}}
            <i class="fal fa-circle-question iws-hint" data-aria="{{localize "IWS.TAB.EmbeddedHint"}}" data-tooltip="{{localize "IWS.TAB.EmbeddedHint"}}"></i>
          {{else}}
            <i class="fal fa-circle-question iws-hint" data-aria="{{localize "IWS.TAB.Hint"}}" data-tooltip="{{localize "IWS.TAB.Hint"}}"></i>
          {{/if}}
        </h3>

        <div class="item-header">
          {{localize 'DND5E.SpellHeader.Roll'}}
        </div>

        <div class="item-header">
          {{localize 'DND5E.Uses'}}
        </div>

        <div class="item-header">
          {{localize 'IWS.TAB.Consumes'}}
        </div>

        <div class="item-controls"></div>
      </div>
    </li>
    <ol class="item-list">
      {{#if (or concealDetails (eq itemSpells.length 0))}}
        <li class="hint items-with-spell-filler">{{localize "IWS.TAB.FillerHint"}}</li>
      {{else}}
        {{#each itemSpells as |spell|}}
          <li class="item flexrow" data-item-id="{{spell.id}}">

            {{!-- Image & Name --}}
            <div class="item-name flexrow{{#if spell.isEmbedded}} rollable{{/if}}" data-tooltip="{{#if spell.isEmbedded}}IWS.SUBTITLE.owned_item{{else}}IWS.TAB.PreviewSpell{{/if}}">
              <div class="item-image" style="background-image: url({{spell.img}})"></div>
              <span class="truncate">{{spell.name}}</span>
            </div>

            {{!-- Save & Attack --}}
            <div class="item-detail flexrow">
              {{#if spell.displaySave}}
                <div title="{{localize "DND5E.SAVE.FIELDS.save.dc.calculation.label"}}: {{lookup @root.config.saveCalcOptions spell.activitySave.save.dc.calculation}}">{{ localize "DND5E.SaveDC" dc=spell.activitySave.save.dc.value ability="" }}</div>
              {{/if}}
              {{#if spell.displayAttack}}
                <div title="{{localize "DND5E.ATTACK.FIELDS.attack.ability.label"}}: {{#if spell.activityAttack.attack.flat}}{{localize "DND5E.Flat"}}{{else}}{{lookup @root.config.attackCalcOptions spell.activityAttack.attack.ability}}{{/if}}">
                    {{spell.activityAttack.labels.toHit}}
                  </div>
              {{else if (not spell.displaySave)}}
                <div>-</div>
              {{/if}}
            </div>

            {{!-- Limited Uses --}}
            <div class="item-detail">
              {{#if (gt spell.system.uses.max 0)}}
                {{spell.system.uses.max}}
                {{#if spell.system.uses.recovery.0.period}}
                  <span class="sep">{{localize "DND5E.per"}}</span>
                  {{lookup (lookup @root.config.limitedUsePeriods spell.system.uses.recovery.0.period) "abbreviation"}}
                {{/if}}
              {{else}}
                -
              {{/if}}
            </div>

            {{!-- Charges --}}
            <div class="item-detail">
              {{#if (and spell.parentConsumption (gt spell.parentConsumption.value 0))}}
                {{spell.parentConsumption.value}} {{localize 'DND5E.Charges'}}
              {{else}}
                -
              {{/if}}
            </div>

            {{!-- Buttons --}}
            <div class="item-controls flexrow context-menu">
              {{#if @root/isOwner}}

                {{#unless @root/isEmbedded}}
                  <a class="item-control  configure-overrides"
                    data-tooltip="IWS.FORM.ConfigureOverrides">
                    <i class="fas fa-wand-sparkles"></i>
                  </a>
                {{/unless}}

                {{#if spell.isOwner}}
                  <a class="item-control  item-edit" data-tooltip="IWS.BUTTONS.EditSpell">
                      <i class="fas fa-edit"></i>
                  </a>
                {{/if}}

                {{#if @root/isEmbedded}}
                  <a class="item-control item-destroy" data-tooltip="IWS.BUTTONS.DeleteSpell">
                    <i class="fas fa-trash"></i>
                  </a>
                {{else}}
                  <a class="item-control item-delete" data-tooltip="IWS.BUTTONS.RemoveLink">
                    <i class="fas fa-trash"></i>
                  </a>
                {{/if}}
              {{/if}}
            </div>
          </li>
        {{/each}}
      {{/if}}
    </ol>
  </ol>
{{/dnd5e-concealSection}}
</div>